-#  This file is app/views/movies/index.html.haml
-#%h1 All Movies
%h1= @page[:title]
- if @page[:filter]
  = form_tag movies_path, :method => :get, :id => 'ratings_form' do
    = hidden_field_tag "title_sort", true if @title_header
    = hidden_field_tag ":release_date_sort", true if @date_header
    Include: 
    - @all_ratings.each do |rating|
      = rating
      = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating), :id => "ratings_#{rating}"
    = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{:class => @title_header}
        - if @page[:sort]
          = link_to 'Movie Title', movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'
        - else
          Movie Title
      %th{ :class => @rating_header }
        - if @page[:sort]
          = link_to 'Rating', movies_path(:sort => 'rating', :ratings => @selected_ratings), :id => 'title_header'
        - else
          Rating
      %th{ :class => @director_header }
        - if @page[:sort]
          = link_to 'Director', movies_path(:sort => 'director', :ratings => @selected_ratings), :id => 'title_header'
        - else
          Director
      %th{:class => @date_header}
        - if @page[:sort]
          = link_to 'Release Date', movies_path(:sort => 'release_date', :ratings => @selected_ratings), :id => 'release_date_header'
        - else
          Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
